/* base
==================================*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
pre,
blockquote,
ul,
li,
ol,
dl,
dd,
tr {
  font-size: 16px;
  line-height: 1.5;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}
.sp {
  display: none !important;
}

a {
  color: $font-color;
  text-decoration: none;
  transition: 0.3s;
  &:visited {
    color: $font-color;
  }
  &:hover {
    color: $font-color;
    text-decoration: none;
  }
  &:active {
    color: $font-color;
  }
  &.tel {
    pointer-events: none;
    cursor: default;
  }
}

/* main
==================================*/
main {
  display: block; /*IE対策*/
}
/*　Retina対応時のCSS↓　*/
@media screen and (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx) {
}

/* header
==================================*/
header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  // background: #fff;
  width: 100px;
  height: 100%;
}

/* footer
==================================*/
footer {
  background: #302d2b;
  padding-top: 150px;
  padding-bottom: 50px;
  padding-left: 150px;
  padding-right: 60px;
  margin-top: -90px;
  .footer_inner{
    .logo{
      margin-bottom: 30px;
      a{
        img{
          width: 113px;
        }
      }
    }
    .row{
      justify-content: space-between;
      .col{
        &:first-child{
          max-width: 480px;
          @media only screen and (max-width: 1200px) {
            width: 49%;
          }
          nav{
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid #595755;
            ul{
              &:first-child{
                li{
                  &:nth-of-type(2){
                    margin-bottom: 32px;
                  }
                }
              }
              li{
                margin-bottom: 15px;
                a{
                  @include Hind_Siliguri(300);
                  font-size: 16px;
                  color: #fff;
                  letter-spacing: .15em;
                }
                .sub_menu{
                  margin-top: 10px;
                  li{
                    margin-bottom: 5px;
                    &::before{
                      content: "\2022";
                      color: #fff;
                      font-weight: bold;
                      display: inline-block; 
                      margin-right: -5px;
                      margin-left: 7px;
                      width: 15px;
                    }
                    a{
                      @include Noto_Sans(300);
                      font-size: 12px;
                      color: #fff;
                      letter-spacing: .1em;
                    }
                  }
                }
              }
            }
          }
          p{
            margin-top: 25px;
            text-align: left;
            a{
              @include Hind_Siliguri(300);
              font-size: 14px;
              color: #fff;
              letter-spacing: .15em;

              &:first-child{
                &::after{
                  content: "/";
                  @include Hind_Siliguri(300);
                  font-size: 14px;
                  color: #fff;
                  letter-spacing: .15em;
                  margin: 0 10px;
                }
              }
            }
          }
          .copy{
            margin-top: 50px;
            @include Hind_Siliguri(300);
            font-size: 10px;
            color: #fff;
            letter-spacing: .15em;
          }
        }
        &:last-child{
          max-width: 500px;
          @media only screen and (max-width: 1200px) {
            width: 49%;
          }
          .img_link{
            display: flex;
            justify-content: space-between;
            li{
              width: 49%;
            }
          }
          .sns_link{
            margin-top: 35px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            li{
              width: 25%;
              text-align: center;
              &:nth-of-type(1){
                a{
                  @include Noto_Sans(300);
                  font-size: 14px;
                  color: #fff;
                }
              }
              &:not(:last-child){
                border-right: 1px solid #595755;
              }
              a{
                display: block;
                text-align: center;
                @include Noto_Sans(300);
                font-size: 11px;
                color: #fff;
                display: flex;
                justify-content: center;
                align-items: center;
                img{
                  width: 19px;
                }
                span{
                  display: block;
                  text-align: left;
                  line-height: 12px;
                  margin-left: 5px;
                }
              }
            }
          }
          .footer_details{
            margin-top: 110px;
            margin-left: auto;
            width: 270px;
            img{
              margin-bottom: 20px
            }
            p{
              @include Noto_Sans(300);
              font-size: 14px;
              color: #fff;
              line-height: 25.2px;
              a{
                @include Noto_Sans(300);
                font-size: 14px;
                color: #fff;
                line-height: 25.2px;
              }
            }
          }
        }
      }
    }
  }
}

#pageTop {
  opacity: 0;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 888;
  transition: 0.3s;
  &.active {
    opacity: 1;
  }
  a {
    display: block;
    width: 50px;
    &:hover {
      opacity: 0.7;
    }
  }
}
