/*==================================
  Company
==================================*/
#Company main {
  .jumbo_sect{
    .wrapper{
      background-image: url(../images/company/bg_jumbo.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .sect_1{
    .wrapper{
      padding-left: 150px;
      padding-bottom: 90px;
      .row{
        .col{
          &:first-child{
            padding-left: 40px;
            padding-right: 80px;
            width: 70%;
            ul{
              display: flex;
              flex-wrap: wrap;
              li{
                width: 100%;
                position: relative;
                border-bottom: 1px solid #e5e3e0;
                padding-bottom: 35px;
                padding-top: 50px;
                padding-left: 10px;
                &:hover{
                  img{
                    right: 0;
                  }
                }
                a{
                  @include Hind_Siliguri(500);
                  font-size: 22px;
                  color: #21201f;
                  span{
                    @include Noto_Sans(300);
                    font-size: 11px;
                    color: #838280;
                  }
                }
                img{
                  width: 29px;
                  transition: .3s ease-in-out;
                  position: absolute;
                  top: 50%;
                  right: 20px;
                  transform: translate(0, -50%);
                }
              }
            }
          }
          &:last-child{
            width: 30%;
            img{
              width: 100%;
            }
          }
        }
      }
    }
  }
}
