/*==================================
  Greetings
==================================*/
#Greetings main {
  .jumbo_sect{
    .wrapper{
      background-image: url(../images/company/bg_jumbo.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .sect_1{
    .wrapper{
      padding-left: 100px;
      padding-right: 60px;
      padding-bottom: 200px;
      ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 60px;
        padding-left: 25px;
        li{
          display: flex;
          align-items: center;
          line-height: 1;
          padding: 0 25px;
          &:not(:last-child){
            border-right: 1px solid #21201f;
          }
          a{
            @include Noto_Sans(500);
            font-size: 13px;
            color: #21201f;
            letter-spacing: .15em;
            &.here{
              color: #c2c0be;
            }
          }
        }
      }
      .row{
        .col{
          &:first-child{
            width: 43%;
            padding-right: 50px;
            p{
              @include Noto_Sans(500);
              font-size: 14px;
              color: #21201f;
              letter-spacing: .1em;
              padding-left: 50px;
              margin-top: -60px;
              position: relative;
              z-index: 1;
              @media only screen and (max-width: 1000px) {
                margin-top: -40px;
              }
              span{
                @include Noto_Sans(500);
                font-size: 16px;
                color: #21201f;
              }
            }
          }
          &:last-child{
            width: 57%;
            h3{
              @include Noto_Sans(500);
              font-size: 26px;
              color: #21201f;
              line-height: 52px;
              text-indent: -35px;
              margin-left: 35px;
              margin-bottom: 50px;
            }
            p{
              @include Noto_Sans(300);
              font-size: 16px;
              color: #21201f;
              line-height: 35px;
            }
          }
        }
      }
    }
  }
}
