/*==================================
  Greetings
==================================*/
#History main {
  .jumbo_sect{
    .wrapper{
      background-image: url(../images/company/bg_jumbo.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .sect_1{
    .wrapper{
      padding-left: 100px;
      padding-right: 60px;
      padding-bottom: 160px;
      ul{
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin-bottom: 80px;
        padding-left: 25px;
        li{
          display: flex;
          align-items: center;
          line-height: 1;
          padding: 0 25px;
          &:not(:last-child){
            border-right: 1px solid #21201f;
          }
          a{
            @include Noto_Sans(500);
            font-size: 13px;
            color: #21201f;
            letter-spacing: .15em;
            &.here{
              color: #c2c0be;
            }
          }
        }
      }
      .row{
        padding-left: 50px;
        .col{
          &:first-child{
            width: 55%;
            padding-right: 50px;
          }
          &:last-child{
            width: 45%;
          }
          h4{
            @include Hind_Siliguri(500);
            font-size: 22px;
            color: #21201f;
            letter-spacing: .2em;
            span{
              @include Noto_Sans(300);
              font-size: 13px;
              color: #838280;
              letter-spacing: .05em;
            }
          }
          p{
            margin-top: 35px;
            padding-left: 25px;
            @include Noto_Sans(500);
            font-size: 18px;
            color: #21201f;
          }
        }
      }
      .history_list{
        padding-right: 45px;
        padding-left: 95px;
        margin-top: 80px;
        table{
          border-collapse: collapse;
          width: 100%;
          margin: 0 auto;
          tbody{
            tr{
              border-bottom: 1px solid #e5e3e0;
              &:first-child{
                border-top: 1px solid #e5e3e0;
              }
              td{
                padding: 28px 0;
                @include Noto_Sans(300);
                font-size: 16px;
                color: #21201f;
                &:first-child{
                  width: 100px;
                  text-align: center;
                }
                &:last-child{
                  padding-left: 25px;
                }
              }
            }
          }
        }
      }
    }
  }
}
