/*==================================
  Pickup
==================================*/
#Pickup main {
  .jumbo_sect{
    .wrapper{
      background-image: url(../images/pickup_list/bg_jumbo.png);
      background-size: cover;
      background-position: center center;
      background-repeat: no-repeat;
    }
  }
  .sect_1{
    .wrapper{
      padding-left: 55px;
      padding-right: 15px;
      padding-bottom: 85px;
      .post_date_cat{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        margin-bottom: 10px;
        .post_date{
          @include Hind_Siliguri(500);
          font-size: 16px;
          color: #21201f;
        }
        .post_cat{
          @include Hind_Siliguri(500);
          font-size: 16px;
          color: #21201f;
          margin-left: 13px;
        }
      }
      .post_title{
        @include Noto_Sans(500);
        font-size: 19px;
        color: #21201f;
        line-height: 26.5px;
        margin-bottom: 20px;
      }
      .post_content{
        @include Noto_Sans(300);
        font-size: 16px;
        color: #21201f;
        line-height: 25px;
      }
      .post_featured_img{
        margin-top: 30px;
        width: 85%;
        img{
          width: 100%;
        }
      }
      .btn_cont{
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 50px;
        .btn_left{
          a{
            @include Hind_Siliguri(500);
            font-size: 14px;
            color: #21201f;
            letter-spacing: .2em;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            img{
              width: 12px;
              margin-right: 9px;
              transition: .3s ease-in-out;
            }
          }
        }
        .btn_right{
          ul{
            display: flex;
            li{
              &:first-child{
                padding-right: 10px;
                a{
                  justify-content: flex-end;
                  img{
                    transform: scaleX(-1);
                    margin-right: 10px;
                  }
                }
              }
              &:last-child{
                padding-left: 10px;
                a{
                  img{
                    margin-left: 10px;
                  }
                }
              }
              a{
                width: 100%;
                @include Hind_Siliguri(500);
                font-size: 14px;
                color: #21201f;
                letter-spacing: .2em;
                display: flex;
                justify-content: flex-start;
                align-items: center;
                img{
                  width: 24px;
                  position: relative;
                  right: 0;
                  left: 0;
                  transition: .3s ease-in-out;
                }
              }
            }
          }
        }
      }
    }
  }
}
